ul,li,a {
    display:inline;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color:red;
    text-align: initial;
    }
h1{
    color:red;
    padding-top:30px;
    text-align:center;
    font-style:italic;
    }
nav{
    text-align:right;
    overflow:hidden;
    top:0;
    width:100%;
    position:fixed;
    }
    