*{
    margin:0px;
    padding:0px;
}


h1{
    color:black;
     padding-top:20px; 
    text-align:center;
    font-style:italic;
    padding-top:300px;
    font-size:100px;
    color:red;
}
#home{
    background-image:url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&w=1000&q=80"); 
   background-repeat: no-repeat;
   height: 100vh;
   text-align: center;
   background-size:cover;

}
#hide1{
    display:none;
}
#hide2{
    display:none;
}
#hide3{
    display:none;
}
#img3{
    float: left;
    padding: 20px;
    margin:5%;
}
#img4{
    float: left;
    padding:20px;
    margin:5%;
}
#img5{
    margin:5%;
    padding:20px;
    float:left;
}
h4{
    padding-top:40px;
    color:red;
    font-size:40px;
    font-style: italic;
    text-align: center;
}
#form2{
    text-align: center;
    color:red;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
}