h1{
    color:black;
    padding-top:30px;
    text-align:center;
    font-style:italic;
}
img{
    background-size:100%;
    background-repeat: no-repeat;
}
.piti1,.piti2,  .piti3, .piti4, .piti5, .piti6, .piti7, .piti8 {
    margin: 10px; 
    cursor: pointer;  
    float:left;
    list-style:none;
    overflow:hidden; 
    background: white;
   }

    